<div class="container" style="margin-top: 5.25rem!important;"  >
    <h2 class="mt-3">Edit Category</h2>
    <ng-container *ngIf="categoriy;else notFound">
        <form #form="ngForm" (ngSubmit)="OnFormSubmit()">
            <!-- <h2 style="margin-top: 5.25rem!important;" >Add Category</h2> -->
            <div class="mb-3">
                <label for="categoryid" class="form-label">Category Id</label>
                <input type="text" disabled  class="form-control" id="categoryid" name="categoryid" value ={{categoriy.id}} >
              </div>
            <div class="mb-3">
              <label for="name" class="form-label">Category Name</label>
              <input type="text" class="form-control" id="name" name="name"  [(ngModel)]="categoriy.name" >
            </div>
            <div class="mb-3">
              <label for="urlHandle" class="form-label">Url Hendeler</label>
              <input type="text" class="form-control" id="urlHandle" name="urlHandle"  [(ngModel)]="categoriy.urlHandle" >
            </div>
            <!-- <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div> -->
            <button type="submit" class="btn btn-dark" >Submit</button>
            <button type="button" class="btn btn-dark ms-3" (click)="Ondelete()">Delete</button>
          </form> 

    </ng-container>

    <ng-template #notFound>
        <div class="alert alert-warning" role="alert">
           Category Not Found
          </div>
    </ng-template>
   
</div>