 <div class="card " style="margin-top: 7%;">
    <div class="card-header">
        <h3 class="card-titlr">
               Images
        </h3>
         <div class="card-body  ">
           
            <div class="d-flex flex-md-row flex-sm-column flex-wrap">
                <div class="col-8 p-4" style="overflow-y:scroll;">
                 <ng-container *ngIf="BlogImages$ |async as Images">
                      <div class="d-flex flex-wrap">
                        <div *ngFor="let image of Images" (click)="selectImage(image)"
                         style="min-width: 100px; justify-content: center;cursor: pointer;"
                          class="me-1  bg-light d-flex align-items-center flex-sm-column p-3">
                          <img [src]="image.url" [title]="image.title" style="height: 100px;">
                          <span class="mt-1">{{image.title}}</span>

                        </div>

                      </div>

                 </ng-container>
                </div>
            </div>
            <div class="col-4  bg-light" style="    margin-left: 69%;
            margin-top: -21%;">
                <h5>Upload Image</h5>
                <form #form="ngForm" (ngSubmit)="UploadImags()" >
                  
                            <div class="mb-3">
                              <input type="file" class="form-control" (change)="OnfileUploadChang($event)">
                            </div>
                            <div class="mb-3">
                              <input type="text" class="form-control" id="fileName" name="fileName" [(ngModel)]="fileName"  >
                            </div>  
                             <div class="mb-3">
                              <label for="urlHandle" class="form-label">Title</label>
                              <input type="text" class="form-control" id="title" name="title" [(ngModel)]="title" >
                            </div>  
                           
                              <button type="submit" class="btn btn-dark" >Upload</button>
                           
                
                </form>    
              
          
       
        </div>
      </div>
          
    </div>
 </div>