
<div class="card ">
    <div class="my-5">
        <div class="row align-items-strech" style="    margin-top: 3%;">
            <ng-container *ngIf="Blogpost$ | async as blogs">
                <div class="col-12 col-md-3 " *ngFor="let blog of blogs">
                    <img [src]="blog.featureImaheUrl" class="card-img-top" [alt]="blog.title">
                    <div class="card-body">
                        <h5 class="card-title">
                            {{blog.title}}
                        </h5>
                        <p class="card-text"      >
                            {{blog.discription}}
                        </p>
                        <span class="d-flex align-items-end">
                            <a [routerLink]="['/blog',blog.urlHandle]" class="btn btn-primary">Read More</a>
                        </span>
                    </div>
                </div>
            </ng-container>

        </div>
    </div>
</div>